In [1]:
import pandas as pd
import sys
sys.path.append('../')
import src.cleaning as cl

In [2]:
epIV = pd.read_table('../StarWarsScripts/SW_EpisodeIV.txt')
epV = pd.read_table('../StarWarsScripts/SW_EpisodeV.txt')
epVI = pd.read_table('../StarWarsScripts/SW_EpisodeVI.txt')

In [3]:
epIV.sample(3)

                                  character "dialogue"
739             740 "TROOPER" "Close the blast doors!"
508  509 "BEN" "You can't win.  But there are alter...
653                            654 "HAN" "It's worse."

In [4]:
df_1 = cl.cleandf(epIV);
df_1['episode'] = 'IV'
df_2 = cl.cleandf(epV);
df_2['episode'] = 'V'
df_3 = cl.cleandf(epVI);
df_3['episode'] = 'VI'

In [5]:
starwars = pd.concat([df_1, df_2, df_3]).reset_index()
starwars.set_index('index', inplace=True)

In [6]:
starwars['character'] = starwars['character'].apply(cl.strip)
starwars['dialogue'] = starwars['dialogue'].apply(cl.strip)

In [7]:
starwars.sample(3)

      character                                           dialogue episode
index
42     THREEPIO  This can't be! Artoo, you're playing the wrong...      VI
343        LEIA                                    Let go, please.       V
654        LEIA                                     What happened?       V

In [8]:
starwars.isnull().sum()

character    0
dialogue     0
episode      0
dtype: int64

In [10]:
starwars.to_csv('../StarWarsScripts/starwars.csv')

In [11]:
starwars.head()

      character                                           dialogue episode
index
0      THREEPIO  Did you hear that?  They've shut down the main...      IV
1      THREEPIO                                      We're doomed!      IV
2      THREEPIO  There'll be no escape for the Princess this time.      IV
3      THREEPIO                                       What's that?      IV
4      THREEPIO  I should have known better than to trust the l...      IV