In [1]:
import pandas as pd
import sys
import os
import dotenv
sys.path.append('../tools')
from getpass import getpass 
import sqlalchemy as alch
import sqltools as st

In [2]:
dotenv.load_dotenv()

True

In [3]:
starwars = pd.read_csv('../data/starwars.csv')
starwars.drop(columns='index', inplace=True)
starwars.sample(3)

     character                                           dialogue episode
2402   EMPEROR  You want this dont you? The hate is swelling i...      VI
692   THREEPIO                          Weve had some problems...      IV
2282  THREEPIO  He says the scouts are going to show us the qu...      VI

In [4]:
passw = getpass("mysql password")
dbName = "Starwars"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

mysql password········

In [5]:
list(engine.execute("SELECT * FROM Starwars.Episode;")) #working!

[(4, 'VI'), (5, 'IV'), (6, 'V')]

In [6]:
tables = engine.execute("SHOW TABLES"); #Working!
for i in tables:
    print (i)

('Character',)
('Dialogue',)
('Episode',)

In [7]:
characters_list = list(set(starwars.character))
episodes_list = list(set(starwars.episode))

In [8]:
starwars.head()

  character                                           dialogue episode
0  THREEPIO  Did you hear that?  Theyve shut down the main ...      IV
1  THREEPIO                                       Were doomed!      IV
2  THREEPIO   Therell be no escape for the Princess this time.      IV
3  THREEPIO                                        Whats that?      IV
4  THREEPIO  I should have known better than to trust the l...      IV

In [9]:
# introducir data

In [10]:
def check(column,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el user, artista o canción.
    Devuelve True si existe y False si no
    
    que == df_col name
    str == value de la columna. Lo que se inserta en mysql
    chekea si ya existe en mysql
    """
    if column == "character":
        query = list(engine.execute(f"SELECT `Name` FROM `Starwars`.`Character` WHERE `Name` = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif column == "dialogue":
        query = list(engine.execute(f"SELECT `Dialogue` FROM `Starwars`.`Dialogue` WHERE `Dialogue` = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif column == "episode":
        query = list(engine.execute(f"SELECT `Name` FROM `Starwars`.`Episode` WHERE `Name` = '{string}';"))
        if len(query) > 0:
            return True
        else:
            return False

In [11]:
check('character', 'LANDO')

True

In [12]:
def returnID(column,string):
    """
    Devuelve el ID de lo que le pidamos 
    sabiendo que ese elemento EXISTE
    """
    if column == "character":
        return list(engine.execute(f"SELECT `idCharacter` FROM `Starwars`.`Character` WHERE `Name` ='{string}';"))[0][0]
    elif column == "episode":
        return list(engine.execute(f"SELECT `idEpisode` FROM `Starwars`.`Episode` WHERE `Name` ='{string}';"))[0][0]

In [13]:
returnID('episode', 'V')

6

In [14]:
def insertChar(characters_list):
    for i in characters_list:
        if check ('character', i):
            return 'already exists'
        else:
            engine.execute(f"INSERT INTO `Starwars`.`Character` (`Name`) VALUES ('{i}');")

In [15]:
insertChar(characters_list)

'already exists'

In [16]:
def insertEpisode(episodes_list):
    for i in episodes_list:
        if check ('episode', i):
            return 'already exists'
        else:
            engine.execute(f"INSERT INTO `Starwars`.`Episode` (`Name`) VALUES ('{i}');")

In [17]:
insertEpisode(episodes_list)

'already exists'

In [18]:
def insertDialogue(row):
    """
    La función final 
    """
    if check("dialogue", row["dialogue"]):
        return "d exists"
    else:
        if check("character", row["character"]):
            idCharacter = returnID("character", row["character"])
        else:
            insertChar(row["character"])
            idCharacter = returnID("character", row["character"])
        
        if check("episode", row["episode"]):
            idEpisode = returnID("episode", row["episode"])
        else:
            insertEpisode(row["episode"])
            idEpisode = returnID("episode", row["episode"])
            
        engine.execute(f"""
        INSERT INTO `Starwars`.`Dialogue` (`Dialogue`, `Character_idCharacter`, `Episode_idEpisode`) VALUES
        ("{row['dialogue']}", {idCharacter}, {idEpisode});
        """)

In [19]:
for index, row in starwars.iterrows():
    insertDialogue(row)